$cor0: #cfffe5;
$cor1: #556b2f;
$cor2: #8b5a2b;

$fonteLight: #e2e8e8;
$bgLight: #faf3e0;

$fonteDark: #140a01;
$bgDark: #010101;

$raioDefault: 8px;
$raioDefault2: 4px;

$fonteDefault: "Montserrat", sans-serif;
$fonteAuxiliar: "Lora", serif;
